@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{
    font-family: 'Jua', sans-serif;
}
html,body{
    margin:0;
    padding:0;
    background: url(./img/cloud2.jpg) no-repeat;
    background-size: cover;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0;
    padding:20px;
    box-sizing: border-box;
    position: sticky;
    top:0;
    transition: 0.5s;
    background-color: rgba(85, 107, 47, 0.7);
}
.headerBColor{
    background-color: darkolivegreen;
}
    .header{
        display: inline-block;
        transition: 0.5s;
    }
    .header:hover{
        transform: scale(1.05);
    }
    .header a{
        font-size: 3rem;
        color: ghostwhite;
        text-decoration: none;
        transition: 0.5s;
    }
        .header a:hover{
            color: lightgreen;
            font-weight: bold;
        }
    .menubar{
        display: inline-block;
        width: 40%;
        text-align: right;
    }
        .menubar a{
            padding: 3%;
            color: ghostwhite;
            font-size: 1.3rem;
        }
            .menubar a:hover{
                color: darkgreen;
            }
.main{
    text-align: center;
    background: url(./img/cat.png) no-repeat;
    background-position: center 25%, 90%;
    background-size: 65%;
    padding-top: 100px;
    padding-bottom: 350px;
}
    .main div{
        font-size: 5rem;
    }
    .main div span{
        font-size: 2rem;
    }

#skill{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(240, 255, 249);
    height: 600px;
}
    #skill button{
        margin: 70px;
        padding: 20px;
        padding-top: 40px;
        padding-bottom: 40px;
        border-radius: 50%;
        border: 1px rgba(85, 107, 47, 0.7) solid;
        background-color: ghostwhite;
        transition: 0.3s;
        font-size: 1.2rem;
    }
        #skill button:hover{
            transform: scale(1.1);
            background-color: rgba(85, 107, 47, 0.7);
            color:ghostwhite;
        }
    #skill_slide{
        padding-inline-start: 0;
        text-align: center;
        list-style-type: none;
        font-size: 0px;
    }
    .active{
        width: 100%;
        font-size: 2rem;
    }

#about{
    background-color: rgb(240, 255, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15%;
    padding-bottom: 15%;
}
    #about img{
        display: inline-block;
        width: 40%;
        padding-left: 5%;
    }
    #about p{
        display: inline-block;
        text-align: center;
        font-size: 3rem;
    }
        #about p span{
            font-size: 1.8rem;
        }
        #about p img{
            width: 10%;
            padding: 3%;
        }

#detail{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    font-size: 2rem;
    text-align: center;
    background-color: rgb(240, 255, 249);
    width: 100%;
    height: 600px;
    padding-top: 5%;
    padding-bottom: 5%;
}
    #detail_img1{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: url(./img/cloud.jpg) no-repeat center;
        background-size: cover;
        color: black;
    }
    #detail_img1 span{
        padding: 0;
    }
    #detail_img2{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: ghostwhite;
        background: url(./img/aurora.jpg) no-repeat center;
        background-size: cover;
    }

#benefit{
    background-color: rgb(240, 255, 249);
    display: block;
    text-align: center;
    width: 100%;
    height: 400px;
    padding-top: 50px;
}
    #benefit h2{
        margin:0;
        margin-bottom: 3%;
    }
    #benefit div{
        display: grid;
        justify-content: center;
        justify-items: center;
        width:100%;
        grid-template-columns: repeat(4,20%);
        font-size: 1.5rem;
    }

footer{
    text-align: center;
    background-color: rgb(240, 255, 249);
    padding: 10px;
}
    footer p{
        margin: 0;
    }

/* 모바일 메뉴창 */
#menu{
    display:none;
    overflow: hidden;
    border: 1px solid ghostwhite;
    border-radius: 30%;
    background-color: ghostwhite;
    margin-right: 3%;
}

/* responsive */
@media all and (max-width:1024px){
    .header a{
        font-size: 2.5rem;
    }
    .menubar a{
        padding: 5%;
        margin-left: 20%;
        font-size: 1.3rem;
    }
    .main div{
        font-size: 4rem;
    }
    .main div span{
        font-size: 1.5rem;
    }

    #skill button{
        margin: 20px;
        padding-top:30px;
        padding-bottom: 30px;
    }
    #about img{
        padding-left: 3%;
    }
    #about p{
        font-size: 2.3rem;
    }
        #about p span{
            font-size: 1.3rem;
        }
    #detail{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(2, 50%);
        font-size: 2.5rem;
        width: 100%;
        height: 950px;
        padding-bottom: 10%;
    }
        #detail_img1{
            padding: 0;
            margin:0;
        }
        #detail_img2{
            padding: 0;
            margin:0;
        }
    #benefit{
        height: 600px;
    }
        #benefit div{
            grid-template-columns: repeat(2,50%);
            grid-template-rows: repeat(2,50%);
            font-size: 1.6rem;
        }
            #benefit div span{
                margin-bottom: 5%;
            }
            #benefit div img{
                width:80%;
            }
}

@media all and (max-width:768px){
    .header a{
        font-size: 2.5rem;
    }
    .menubar a{
        padding: 3%;
        color: ghostwhite;
        font-size: 1.3rem;
    }
    .main div{
        font-size: 3rem;
    }
    .main div span{
        font-size: 1.3rem;
    }
    #skill button{
        margin: 20px;
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 20px;
        border: 1px darkgreen solid;
        background-color: ghostwhite;
        transition: 0.5s;
        font-size: 1.1rem;
    }
        .active{
            font-size: 1.5rem;
        }
    #about{
        flex-direction: column;
        padding-top: 20%;
        padding-bottom: 15%;
    }
        #about img{
            width: 60%;
            padding: 0;
        }
        #about p{
            font-size: 2.5rem;
        }
            #about p span{
                font-size: 1.5rem;
            }
    #detail{
        font-size: 1.7rem;
        height: 800px;
    }
}

@media all and (max-width:480px){
    .header a{
        font-size: 1.7rem;
    }
    .menubar a{
        padding: 5%;
        margin-left: 15%;
        font-size: 1.3rem;
    }

    .main{
        background-size: cover;
        padding-bottom: 250px;
    }
        .main div{
            font-size: 3rem;
        }
        .main div span{
            font-size: 1.5rem;
        }
    
    #skill{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 350px;
        padding: 3%;
        padding-top: 20%;
        padding-bottom: 20%;
    }
        #skill button{
            margin: 0px;
            padding: 10px;
            padding-top: 10px;
            padding-bottom:10px;
            border-radius: 50%;
            font-size: 1rem;
        }
        .active{
            width: 100%;
            font-size: 1.3rem;
        }
    
        #about img{
            width: 40%;
        }
        #about p{
            font-size: 1.6rem;
        }
            #about p span{
                font-size: 1.1rem;
            }
    #detail{
        font-size: 1.4rem;
    }
}